.app-title {
  color: var(--secondary);
}

.app-info-container {
  display: grid;
  grid-template-columns: 49% 2% 49%;
}

.app-hr-light {
  border: .5px solid lightgray;
  margin-bottom: 20px;
}

.error-message {
  color: #D8000C;
  margin-left: 12px;
}

.app-submit-btn {
  height: 32px;
  color: #7F7F7C;
  border-radius: 4px;
  font-size: 14px;
  color: var(--secondary)
}